:root {
  --font-color-main: #4c566a;
  --font-color-heading: #434c5e;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --color-white: #ffffff;
  --color-lightgray: #eceff4;
  --color-frostblue: #5e81ac;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

body {
  background: var(--color-lightgray);
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  color: var(--font-color-main);
}

h1,
p {
  margin: 0;
}

h1 {
  color: var(--font-color-heading);
  font-weight: var(--font-weight-bold);
}

p {
  margin-top: 1em;
  line-height: 1.8em;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.content {
  width: 90%;
  max-width: 600px;
  margin: auto;
  background: var(--color-white);
  padding: 32px;
  border-radius: 4px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 24px;
  }
}

.btn-group {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media screen and (max-width: 600px) {
  .btn-group {
    grid-template-columns: 1fr;
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: solid 1px;
  text-decoration: none;
  color: var(--color-frostblue);
  transition: all 0.2s;
  border-radius: 4px;
}

.btn:focus {
  border: dashed 1px;
}

.btn:visited {
  color: var(--color-frostblue);
}

.btn:hover {
  border: solid 1px;
  background: var(--color-frostblue);
  color: var(--color-white);
}

footer {
  background: var(--color-white);
  width: 100%;
  padding: 1em;
  font-size: 14px;
  margin-top: auto;
  text-align: center;
}

.bg-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

#bg-img {
  position: absolute;
  z-index: -1;
  height: 90vh;
  top: 0;
  left: 0;
  filter: grayscale(100%);
  opacity: 0.2;
  transform: rotate(-15deg) translateX(-20%) translateY(-10%);
}
